<!DOCTYPE html>
<html>

	<%= render(:partial => 'layouts/head') %>

<body>
	<!-- Randomized Background Image -->
	<% if @background != nil %>
		<style>
			.mainOuterWrapper {background-image: url(<%= @background.image.url %>);}
		</style>
	<% end %>

	<div class="mainOuterWrapper">
	  <div class="pgOverlay"></div>
	  
	  <%= render(:partial => 'layouts/navigation') %>

		<%= yield %>

<%= render(:partial => 'layouts/bottom') %>
