<!DOCTYPE html>
<html>

	<%= render(:partial => 'layouts/head') %>

<body>
	<!-- Randomized Background Image -->
	<style>
		body {background-image: image-url(<%= @background.image.url %>);}
	</style>

	<div class="mainOuterWrapper">
	  <div class="pgOverlay"></div>
	  
	  <%= render(:partial => 'layouts/navigation') %>



		<%= yield %>



		

<%= render(:partial => 'layouts/bottom') %>
